.announcementCard{
    display: flex;
    flex-direction: column;
    width: 299.2px;
    height: 300px;
    border:1px solid black;
    border-inline: 2px black solid;
    border-radius:15px;
    background-color: white;
    margin: 7px;
    z-index: 99;
}
.announcementCard img{
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 200px;
}


.announcementCard:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px 5px rgb(121, 121, 121);
}