.announcementCard{
    display: flex;
    width: 150px;
    border:2px solid green;
    border-radius:15px;
    margin:5px;
    align-items: center;
    justify-content: center;
}
.announcementCard img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}