.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 70px;
    background-color: rgb(199, 6, 6);
}

/* PopBtn container */
.popBtn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  
  /* The actual popBtn (appears on top) */
  .popBtn .popBtntext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 50px;
    margin-left: -80px;
  }
  
  /* PopBtn arrow */
  .popBtn .popBtntext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popBtn container (hide and show the popBtn) */
  .popBtn .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popBtn) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .nav-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .nav-icon:hover {
    box-shadow: 0 0 15px 5px white;
  }


  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropup {
    position: relative;
    display: inline-block;
  }

  .droup-content {
    visibility: visible;
    position: absolute;
    background-color: rgb(148, 0, 0);
    min-width: 160px;
    bottom: 50px;
    z-index: 99;
  }
  
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropup-content a:hover {
    background-color: rgb(148, 0, 0)
  }
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    background-color: #2980B9;
  }
 
  