.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 70px;
    background-color: black;
}

/* PopBtn container */
.popBtn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  
  /* The actual popBtn (appears on top) */
  .popBtn .popBtntext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 50px;
    margin-left: -80px;
  }
  
  /* PopBtn arrow */
  .popBtn .popBtntext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popBtn container (hide and show the popBtn) */
  .popBtn .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popBtn) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .home-icon {
    width: 45px;
  }

  p {
    color: white;
    margin: 0;
    font-size: 13px;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }