.eventCard{
    display: flex;
    width: fit-content;
    border:2px solid rgb(0, 0, 0);
    border-radius:15px;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    margin: 7px;
    background-color: white;
}
.eventCard img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.card{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card p{
    margin-left: 1rem;
    margin-right: 1rem;
}

.eventCard:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px 5px rgb(121, 121, 121);
}